 {% load static %}
 <!-- Navbar -->
 <nav class="navbar">
    <div class="container">
        <a href="" class="navbar-brand"><img src="{% static 'img/netflix_logo.png' %}" alt=""></a>
        <form class="d-flex" action="">
            <div class="dropdown">
                <a href="" class="btn text-white dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span><img src="{% static 'img/world.png' %}" alt=""></span>English
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a href="" class="dropdown-item">Turkish</a></li>
                <li><a href="" class="dropdown-item">English</a></li>
            </ul>
            </div>
            <a href="{% url 'login'  %}" class="btn btn-danger mx-3" role="button">Login</a>
        </form>
    </div>
</nav>